body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.add-container {
	margin-top:100px;
	width:50vw;
	margin: auto;
	background-color: #c0c0c0;
	padding:25px;
	border-radius:15px;
}

.form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

h1 {
	text-align:center;
}

#buttonDiv {
	display:flex;
	justify-content:space-between;
}
#buttonDiv2 {
	display:flex;
	justify-content:center;
}

.button {
	width:40%;
	margin: 10px;
	height: 50px;
}

.custom-select, option, #select {
	width:60%;
}
.input-group {
	width:100%;
}

.input-group-prepend {
	width:30%;
}

.label {
	width:30%;
}

.cancelLink {
	padding: 10px 30px;
	text-align:center;
	text-decoration:none;
	background-color: red;
	color:white;
	border-radius:5px;
}

.cancelLink:hover {
	color:white;
	filter: brightness(0.8);
}

.displayPlayer, .playerName {
	display:flex;
}

.labelPlayer {
	width:30%;
}

.playerName h4 {
	margin-right:10px;
}

.erreur {
	margin-top:10px;
	text-align:center;
	color:red;
	font-size:24px;
}